
@{
    ViewBag.Title = "Ana Sayfa";
}

@section Kategoriler{
    @{ Html.RenderAction("KategoriWidget", "Kategori");}
   
}

@section Etiketler{
    @{
        Html.RenderAction("EtiketWidger", "Etiket");
    }
}

@section SiteArama{
<div class="sidebox widget">
    <h3 class="widget-title section-title">Arama</h3>
    <form class="searchform" method="get">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="s" value="Birşeyler Ara" onfocus="this.value=''" onblur="this.value='Search something'" />
        <button type="submit" class="btn">Ara</button>
    </form>
</div>
}


@section SiteHakkinda{
<div class="sidebox widget">
    <h3 class="widget-title section-title">Elsewhere</h3>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus.</p>
    <ul class="social">
        <li><a href="#"><i class="icon-s-rss"></i></a></li>
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
        <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
        <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
        <li><a href="#"><i class="icon-s-flickr"></i></a></li>
    </ul>
    <div class="clearfix"></div>
</div>
}

@section PopulerMakaleler{
    @{ Html.RenderAction("PopulerMakalelerWidget", "Home");}
   
}